.viewer {
    position: sticky;
    position: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column
}
.search-container {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    background: var(--bg);
    padding-top: 1rem;
    box-shadow: 0 1rem 1rem var(--bg-secondary);
}

.search-container > * {
    border: solid var(--border) 1px;
    padding: 0.5em 1rem ;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.search-box {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background: none;
    border: none;
}
input:hover {
    border: none;
}


select:focus {
    border-color: var(--primary);
}

.file-cards {
    margin-top: 4rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
    justify-content: stretch;    

    gap: 1rem;
}

.file-card {
    border: solid var(--border) 1px;
    background: var(--bg-secondary);
    height: 10rem;

    border-radius: 1rem;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.file-preview {
    object-fit: cover;
    height: 100%;
    width: auto;
    margin: auto;
    overflow: hidden;
}
.not-shown {
    display:none;
}
.file-icon {
    box-sizing: border-box;
    padding: 1rem;
}

.file-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    min-width: 0; /* Critical fix - allows children to shrink below content size */
}

.file-header > *:nth-child(3) {
    cursor: pointer;
}

.file-header > svg {
    flex-shrink: 0;
}

.file-type {
    flex-grow: 1;
    min-width: 0;
}
.file-type > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.show-type:hover {
    cursor: pointer;
}

.file-type {
    font-size: small;
}

.file-card svg {
    aspect-ratio: 1/1;
    height: 1rem;
}


.file-lines {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


table  {
    margin-top: 4rem;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
    border: solid 2px var(--border)
}


td:nth-child(1) {
    width: 50%;
    padding: 0.25em;
}
td {
    width: 25%;
}


.unfocus-screen {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10rem);
}

select:hover {
    cursor: pointer
}

button {
    cursor: pointer;
}