
.notifications {
    left: 0;
    top: 100%;
    width: 100%;
}

.notification {
    box-sizing: border-box;
    padding-left: 0.5rem;
    text-align: start;
    background-color: var(--bg-secondary);
    border: solid 2px var(--border);
    border-radius: 1rem;
    box-shadow: 0 0.5em  0 var(--border),
                0 1rem 1rem rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
}

.error {
    border: solid 2px var(--error);
    box-shadow: 0 0.5em  0 var(--error),
                0 1rem 1rem rgba(0, 0, 0, 0.25);
}
.uploading {
    border: solid 2px var(--idle);
    box-shadow: 0 0.5em  0 var(--idle),
                0 1rem 1rem rgba(0, 0, 0, 0.25);
}
.success {
    border: solid 2px var(--primary);
    box-shadow: 0 0.5em  0 var(--primary),
                0 1rem 1rem rgba(0, 0, 0, 0.25);
}


.file {
    font-weight: bold;
}

.file-status {
    color: grey
}
