:root {
  font-family: "inter";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  --bg: #222222;
  --bg-secondary: #1e1e1e;
  --primary: #169976;
  --border: #656565;
  --error: rgb(156, 37, 37);
  --idle: rgb(189, 145, 0);
  --text: white;

  margin: 0;
  padding: 0;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  --bg: #e1e1e1;
  --bg-secondary: #ffffff;
  --primary: #14c092;
  --border: #656565;
  --error: rgb(252, 39, 39);
  --idle: rgb(248, 190, 0);

  --text: black;
}

* {
    padding: 0;
    margin: 0;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
